NODE_ENV=production
PORT=3000
DATABASE_URL=postgresql://<DB_USER>:<DB_PASSWORD>@<RDS_ENDPOINT>:5432/<DB_NAME>?schema=public
CORS_ORIGIN=https://tu-frontend.com
JWT_SECRET=clave_secreta_super_segura_de_mas_de_32_caracteres_12345
HOST_PORT=80